body {
  font: 14px Georgia, serif;
  background: #ccc;
}

article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h2 {
  font: 24px Georgia;
  margin: 0 0 10px 0;
}

h3 {
  margin: 0 0 8px 0;
}

p {
  margin: 0 0 20px 0;
}

#warp {
  width: 70%;
  margin: 60px auto;
  padding: 20px;
  background: #ccc;
  overflow: hidden;
}

#side {
  width: 35%;
  float: left;
}

    #side ul {
        list-style: none;
        padding-inline-start: 3px; /* This property is used to control left padding of Email icon */
    }

    #side ul li a {
        color: red;
        text-decoration: none;
        padding: 3px 0;
        display: block;
    }

#main-content {
  width: 65%;
  float: right;
}

@media all and (min-width: 1000px) {
  #side ul li a:after {
    content: " (" attr(data-email) ")";
    font-size: 11px;
    font-style: italic;
    color: #666;
  }
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  #side ul li a:before {
    content: "Email: ";
    font-style: italic;
    color: #666;
  }
}
@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
  #side ul li a {
    padding-left: 25px;
    background: url(img/email.png) left center no-repeat;
  }
}
